
<div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  
       
        <div class="card rounded-0">
          <div class="card-header bg-dark text-light">
            <h3 class="mb-0">Login</h3>
          </div>
          <div class="card-body">
            <form class="form" [formGroup]=user>
              <div class="form-group">
                <label for="uname1">Username</label>
                <input type="text" formControlName="email" name="email"  placeholder="Username"  class="form-control rounded-0" required>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" formControlName="password" name="password"   placeholder="Password" class="form-control rounded-0"  required>
              </div>
              <div class="form-group">
             <a (click)="forgetPassword()" class="text-primary">Forget password ?</a>
              </div>
              <button type="button" [disabled]="!user.valid" (click)="loginUser()" class="btn btn-primary float-right">Login</button>
            </form>
          </div>
        
        </div>
     
  
      </div>
  
  
    </div>
  </div>