.custom{
   
    padding: 10px;
   // background-color:gray;
   

}

.customLink{
    text-decoration: none;
    color:gray;
  
}
.customLink:hover{
    color: white
}
.main{
    /* background-image: linear-gradient(to right, #bb94a1, #be97a4, #c19aa7, #c59eab, #c8a1ae); */
    background-repeat: repeat
}
